<div class="row header"><!-- Begin Header -->

   <!-- Logo
        ================================================== -->
        <div class="span5 logo">
          <a href="#"><img src="../assets/img/logos/logoFine.png" alt="logo du site" width="45%" /></a>
        </div>


      <!-- Main Navigation
        ================================================== -->
        <!-- <h2> <a routerLink="/produit" style="color: red;margin-left: auto;margin-right: auto;">Produit</a> </h2> -->
        <div class="span7 navigation">
          <div class="navbar hidden-phone ">
          <ul class="nav">
              <li><a href="/#">Home</a></li>
              <li><a routerLink="/medias" >Medias</a></li>
              <li><a href="index.html">VIDEOS</a></li>
              <li><a href="index.html">JEUX VIDEOS</a></li>
              <li><a href="page-contact.html">A PROPOS</a></li>
              <li><a href="page-contact.html">CONNECTION</a></li>
              <li class="connect"><a href="index.html">SE CONNECTER</a></li>
          </ul>
      </div>

     <!-- Mobile Nav
          ================================================== -->
          <form action="#" id="mobile-nav" class="visible-phone">
              <div class="mobile-nav-select">
              <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                  <option value="">Navigate...</option>
                  <option value="/medias">MEDIAS</option>
                  <option value="gallery-4col.html">LIVRES</option>
                  <option value="features.html">VIDEOS</option>
                  <option value="features.html">JEUX VIDEOS</option>
                  <option value="page-contact.html">APROPOS</option>
                  <option value="page-contact.html">CONTACT</option>
                  <option value="page-contact.html">CONNEXION</option>
              </select>
              </div>
              </form>


      </div><!-- End Header -->

  </div>

