
<h2 style="text-align: center;">Liste des Medias</h2>
<div class="container">
<div class="row">
      <div *ngFor="let m of medias"  class="card mx-2 my-2" style="width: 18rem;">
      <img src="http://localhost:8085/{{m.illustrationMedia}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{m.titreMedia|uppercase}}</h5>
        <p class="card-text">{{m.sousTitreMedia}}</p>
        <p class="card-text">{{m.descriptionMedia}}</p>
        <p class="card-text">{{m.categorieVideos}}</p>
        <p class="card-text">{{m.dureeVideos}}</p>
        <p class="card-text">{{m.styleVideos}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
   </div>
</div>
