
<div class="row">
  <form class="col-6 " [formGroup]="form" (ngSubmit)="create()" action="" >
<div class="container">

  <div class="row">
    <div class="input-field ">
      <label for="id">ID PRODUIT</label> <br>
      <input id="idProduit" type="text" formControlName="idProduit" data-lenght="10"> <br>

      <label for="refInterneProduit">REFERENCE INTERNE PRODUIT</label> <br>
      <input id="refInterneProduit" type="text" formControlName="refInterneProduit" data-lenght="10"> <br>

      <label for="designationProduit">DESIGNATION PRODUIT</label> <br>
      <input id="designationProduit" type="text" formControlName="designationProduit" data-lenght="10"> <br>

      <label for="descriptifProduit">DESCRIPTIF PRODUIT</label> <br>
      <input id="descriptifProduit" type="text" formControlName="descriptifProduit" data-lenght="10"> <br>

      <label for="prixVenteUProduit">PRIX VENTE PRODUIT</label> <br>
      <input id="prixVenteUProduit" type="text" formControlName="prixVenteUProduit" data-lenght="10"> <br>

      <label for="illustration">ILLUSTRATION</label> <br>
      <input id="illustration" type="text" formControlName="illustration" data-lenght="10"> <br>
    </div>
  </div> <br>
</div>
<button  type="submit" >Sous MAITRE</button>
</form>
</div>
{{form.value|json}}

